 #post_paginate{
   float: right;
 }
.post-tabs-custom.nav-tabs-custom>.nav-tabs>li.active,
.post-tabs-custom.nav-tabs-custom>.nav-tabs>li{
    border-top:3px solid transparent
}


.slug-static.form-control[disabled], .slug-static.form-control[readonly], .slug-static fieldset[disabled] .slug-static.form-control{
  background: none;
  border:none;
}
